{% load static %}
    {% include './header.html' %}
    <div class="jumbotron text-center">
        <h2 class="text-primary">Contact us</h2>
    </div>
    <div class="container">
        <form name="cont-frm">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="name">Enter Your Name</label>
                        <input type="text" name="name" id="name" class="form-control border-primary">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="email_id">Enter Your Email</label>
                        <input type="email" id="email_id" name="email_id" class="form-control border-primary">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="msg">Message</label>
                <textarea rows="5" name="msg" id="msg" class="form-control border-primary"></textarea>
            </div>
            <input type="submit" value="Submit" class="btn btn-outline-primary">
        </form>
        {% if name or email_id or msg %}
        <p>Your name is {{name}}</p>
        <p>Your Email ID is {{email}}</p>
        <p>
            Your message:<br>
            {{msg}}
        </p>
        {% endif %}
    </div>
    {% include './footer.html' %}