{% load static %}
    {% include './header.html' %}
    <div id="mySlider" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#mySlider" data-slide-to="0" class="active"></li>
          <li data-target="#mySlider" data-slide-to="1"></li>
          <li data-target="#mySlider" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static '/images/slider_1.jpg' %}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static '/images/slider_2.jpg' %}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static '/images/slider_3.jpg' %}" class="d-block w-100" alt="...">
          </div>
        </div>
        <a class="carousel-control-prev" type="button" data-target="#mySlider" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next" type="button" data-target="#mySlider" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
      </div>
    <div class="container-fluid">
        <div class="row">
            <div class="card col-4">
                <img src="{% static '/images/tour-img02.jpg' %}" class="card-img-top" alt="crd-img">
                <div class="card-header">
                    <h4 class="card-title">Card Title</h4>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur porro, neque alias fugit architecto suscipit nihil delectus quas nam reprehenderit ipsum id! Cupiditate, voluptatum aliquam?
                    </p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-info float-right">Read More</a>
                </div>
            </div>
            <div class="card col-4">
                <img src="{% static '/images/tour-img02.jpg' %}" class="card-img-top" alt="crd-img">
                <div class="card-header">
                    <h4 class="card-title">Card Title</h4>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur porro, neque alias fugit architecto suscipit nihil delectus quas nam reprehenderit ipsum id! Cupiditate, voluptatum aliquam?
                    </p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-info float-right">Read More</a>
                </div>
            </div>
            <div class="card col-4">
                <img src="{% static '/images/tour-img02.jpg' %}" class="card-img-top" alt="crd-img">
                <div class="card-header">
                    <h4 class="card-title">Card Title</h4>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur porro, neque alias fugit architecto suscipit nihil delectus quas nam reprehenderit ipsum id! Cupiditate, voluptatum aliquam?
                    </p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-info float-right">Read More</a>
                </div>
            </div>
        </div>
    </div>
    {% include './footer.html' %}